<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NexaTech</title>
  <style>
    h1{
      font-size:40px;
      font-family:Roboto;
      color:rgb(50,50,50);
      text-align:center;
    }
    #banner{
      width:100%;
      height:360px;
      object-fit:cover;
    }

    h2{
      font-family:roboto;
      font-size: 32px;
      color:rgb(100,100,100);
      text-align:center;
      font-weight:normal;
    }

    .bodytext{
      color:rgb(80,80,80);
      font-family:roboto;
    }

    #container{
      max-width:720px;
      margin:0 auto;
    }
  </style>
</head>
<body>
  <div id="container">
    <h1>NEXTAECH CAREERS</h1>
    <img id="banner" src="/static/banner.jpeg" alt="!!NOT FOUND!!" height="100" width="150">
    <h2>About NexaTech</h2>
    <p class="bodytext">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur lacinia, tortor at aliquam feugiat, 
       leo ligula facilisis velit, et vulputate odio ipsum non enim. Phasellus in arcu erat. Nullam pulvinar, 
        purus ut tristique feugiat, nisi sapien vestibulum quam, sit amet vehicula est lorem at purus.lit, et 
       vulputate odio ipsum non enim. Phasellus in arcu erat. Nullam pulvinar, purus ut tristique feugiat, nisi 
        sapien vestibulum quam, sit amet vehicula est lorem at purus.Vestibulum ante ipsum primis in faucibus 
       orci luctus et ultrices posuere cubilia curae; Sed facilisis felis nec dui feugiat, ut accumsan sapien 
       suscipit. Donec ac eros turpis. Nam dictum, justo eget luctus dapibus, enim sapien ullamcorper orci, eget 
        cursus dolor arcu in ligula.
    </p>
  <h2>OPEN POSITIONS</h2>
  <p class="bodytext">ToDo show jobs here</p>
      <div style="text-align:center;">
  <button>Contact us</button>
        <p>Copyright NexaTech 2024</p>
      </div>
  </div>
</body>
</html>